.navigation{
    display: flex;
    flex-direction: row;
}

.nav{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    background-color: #e8ece6;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 45px;

}

.nav a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    color: black;
}

#left{
    display: flex;
    align-items: flex-start;
    width: 33%;
}

#right{
    display: flex;
    width: 33%;

}

#center{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.logo{
    padding: 50px;
    align-self: flex-start;
    height: 40px;
}

body{
    padding: 0px;
    margin: 0px;
}