.navigation{
    display: flex;
    flex-direction: row;
}

.nav{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    background-color: #e8ece6;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 45px;

}

.nav a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    color: black;
}

#left{
    display: flex;
    align-items: flex-start;
    width: 33%;
}

#right{
    display: flex;
    width: 33%;

}

#center{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.logo{
    padding: 50px;
    align-self: flex-start;
    height: 40px;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.footer{
    background-color: #e8ece6;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    padding: 50px;
    align-self: flex-start;
    height: 60px;
}


.Hero-background{
    background-color: #e8ece6;
    height: 40vh;
    display: inline-flex;
}

.card-img-1{
    width: 100%;
    height: 100%;

}

.lykkepose-kort{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}

.lykkepose-afstand{
    display: flex;
    justify-content: right;
    align-self: center;
    margin-top: 20px;
}

.lykkepose-img{
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

#lykkepose-seflere{
    color: red;
}

.lykkeposer-categories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}




