.navigation {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    background-color: #e8ece6;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 45px;

}

.nav a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    color: black;
}

#left {
    display: flex;
    align-items: flex-start;
    width: 33%;
}

#right {
    display: flex;
    width: 33%;

}

#center {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.logo {
    padding: 50px;
    align-self: flex-start;
    height: 40px;
}

body {
    padding: 0;
    margin: 0;
}

.background {
    display: inline-flex;
    background-color: #e8ece6;
    justify-content: space-around;
    width: 98%;
    margin: 15px;
    min-height: 50vh;
}

.background p{
    width: 87%;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    padding: 0;
}

.header button {
    width: 150px;
}

main.background{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    object-fit: cover;
}

.image {
    display: flex;
    width: 40%;
    object-fit: cover;
}

.longImage{
    display: flex;
    object-fit: contain;
    margin-bottom: 15px;
}

.callToAction{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 87%;
    padding: 0;
}
